<!-- <mat-card class="upper animated fadeIn" *ngIf="nextDeparture"> -->
<mat-card class="upper animated fadeIn">
  <div class="d-flex mat-display-1 mb-0 font-weight-normal">
    <div class="flex-item d-flex align-items-center justify-content-center w-100">
      <div class="d-block text-center py-1 mr-3 align-middle name"
        [style.background-color]="color" [style.color]="textColor">
        {{ name }}
      </div>
    </div>
    <div class="flex-item ml-auto">
      <div class="d-inline-block py-1">
      </div>
    </div>
  </div>
</mat-card>
<mat-card class="lower d-flex flex-row justify-content-center">
  <div *ngFor="let dir of directions" style="width:100%;">
    <div class="col-6" style="max-width:100%;">
      <h3>Läge {{ dir }}</h3>
      <div *ngFor="let dep of departures" style="width:100%">
        <!-- Buss -->

        <div class="d-inline-block py-1 mr-3 m-2 align-middle buss_grid" *ngIf="dep.direction == dir">
          <!-- Buss Number -->
          <div class="text-center buss_number" [style.background-color]="dep.color" [style.color]="dep.textColor">
            {{ dep.lineNo }}
          </div>
          <!-- Buss text -->
          <div class="buss_text" style="padding:10px">{{ dep.towards }}</div>
          <!-- Time -->
          <div class="buss_time" *ngIf="dep.nextDepartureIn >= 1; else nowtime">
            {{ dep.nextDepartureIn }} min</div>
          <!-- Now -->
          <ng-template #nowtime>
            <div class="buss_time">Nu</div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>


</mat-card>
