<div
  class="d-flex flex-column justify-content-center align-items-begining animated zoomIn"
  style="height: 100vh"
>
  <div class="container" style="max-width: 540px">
    <iw-logo [width]="242" [height]="212"></iw-logo>
  </div>

  <div class="my-5 pt-5">
    <div class="container" style="max-width: 540px">
      <h1 class="mat-display-2 mb-3 text-white animated fadeIn">
        Robin hade rätt.
      </h1>
      <p>
        Nu har något gått så <b>otroligt uppåt väggarna fel</b> att detta
        meddelande <b>fatiskt måste visas</b>.
      </p>
      <p class="mb-0 mt-5 text-white"><b>Vad orsakade felet?</b></p>
      <p>
        <a class="text-white" href="https://gitlab.com/not-ul/iron-wasp">
          Iron Wasp </a
        >,
        <a class="text-white" href="https://gitlab.com/not-ul/cobalt-lama">
          Cobalt Lama
        </a>
        eller
        <a
          class="text-white"
          href="https://gitlab.com/not-ul/titanium-dragonfly"
          >Titanium Dragonfly.</a
        >
      </p>
      <p class="mb-0 text-white"><b>Är det JavaSkripts fel?</b></p>
      <p>Troligen, dock kommer vi <b>aldrig</b> erkänna det.</p>
      <p class="mb-0 text-white"><b>Vad har vi lärt oss?</b></p>
      <p>Att det troligen är fel på hårdvaran. Kolla Raspberryn.</p>
    </div>
  </div>
</div>
