<div
  class="d-flex flex-column py-3 align-items-stretch"
  style="min-height: 100vh; background-image: url('./assets/background.png'); background-repeat: no-repeat; background-size: cover; background-position: center;"
>
  <div class="container-fluid">
    <h2 class="float-right text-left text-uppercase">
      {{ clock | date: 'EEEE, HH:mm:ss' }}
    </h2>
  </div>
  <div
    class="d-inline-block my-3 px-4 w-100"
    *ngFor="let transitLine of transitLines"
  >
    <iw-bus
      [departures]="transitDepartures[transitLine]"
      *ngIf="hasFetchedTransitLine.includes(transitLine)"
    ></iw-bus>
  </div>
</div>
