<mat-card class="upper" *ngIf="nextDeparture">
  <div class="d-flex mat-display-1 mb-0 font-weight-normal">
    <div class="flex-item d-flex align-items-center">
      <div
        class="d-inline-block text-center py-1 mr-3 align-middle"
        style="width: 82px; border-radius: 4px;"
        [style.background-color]="nextDeparture.color"
        [style.color]="nextDeparture.textColor"
      >
        {{ nextDeparture.line }}
      </div>
      <div class="d-inline-block">
        <div>{{ nextDeparture.name }}</div>
        <div style="font-size: 1rem; line-height: 20px; color: #bbbbbb;">
          {{ nextDeparture.from }}
        </div>
      </div>
    </div>
    <div class="flex-item ml-auto">
      <div class="d-inline-block py-1">
        <span *ngIf="nextDeparture.departing > 0">
          <span *ngIf="nextDeparture.departing <= 15">
            {{ nextDeparture.departing }} min
          </span>
          <span *ngIf="nextDeparture.departing > 15">
            {{ nextDeparture.departingTime }}
          </span>
        </span>
        <span class="text-uppercase" *ngIf="nextDeparture.departing <= 0"
          >nu</span
        >
      </div>
    </div>
  </div>
</mat-card>
<div *ngIf="deviation">
  <mat-card
    class="deviation-danger"
    *ngIf="deviation.severity > 5"
    matRipple
    #ripple
    [matRippleRadius]="720"
    [matRippleColor]="'rgba(32, 32, 32, 0.1)'"
  >
    <div class="d-flex flex-column">
      <h5 class="mat-title mb-0">{{ deviation.title }}</h5>
      <p class="mb-0">{{ deviation.text }}</p>
    </div>
  </mat-card>
</div>
<mat-card class="lower" *ngIf="laterDeparture">
  <div class="d-flex">
    <span>Nästa: {{ laterDeparture.line }} {{ laterDeparture.name }} </span>
    <span class="ml-auto">{{ laterDeparture.departingTime }}</span>
  </div>
</mat-card>
