<mat-card class="upper" *ngIf="nextDeparture">
  <div class="d-flex h2 font-weight-normal">
    <span> {{ nextDeparture.line }} {{ nextDeparture.name }} </span>
    <span class="ml-auto" *ngIf="nextDeparture.departing > 0">
      <div *ngIf="nextDeparture.departing <= 15">
        {{ nextDeparture.departing }} min
      </div>
      <div *ngIf="nextDeparture.departing > 15">
        {{ nextDeparture.departingTime }}
      </div>
    </span>
    <span class="ml-auto" *ngIf="nextDeparture.departing <= 0">avgår nu</span>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="451"
      height="32"
      viewBox="0 0 451 32"
      [style.fill]="nextDeparture.color"
    >
      <g transform="translate(-123 -597)">
        <rect fill="" width="435" height="12" transform="translate(123 607)" />
        <circle fill="" cx="16" cy="16" r="16" transform="translate(542 597)" />
        <circle fill="" cx="16" cy="16" r="16" transform="translate(208 597)" />
      </g>
    </svg>
  </div>
</mat-card>
<div *ngFor="let deviation of nextDeparture.deviations">
  <mat-card
    class="deviation-danger"
    *ngIf="deviation.severity > 5"
    matRipple
    #ripple
    [matRippleRadius]="1000"
    [matRippleColor]="'rgba(32, 32, 32, 0.1)'"
  >
    <div class="d-flex flex-column">
      <h5>{{ deviation.title }}</h5>
      <span>{{ deviation.text }}</span>
    </div>
  </mat-card>
</div>

<mat-card class="lower" *ngIf="laterDeparture">
  <div class="d-flex">
    <span>Nästa: {{ laterDeparture.line }} {{ laterDeparture.name }} </span>
    <span class="ml-auto">{{ laterDeparture.departingTime }}</span>
  </div>
</mat-card>
<mat-card class="lower" *ngIf="!laterDeparture">
  <div class="d-flex">
    <span><i>Kan inte visa nästa avgång</i></span>
  </div>
</mat-card>
