<mat-card class="upper" *ngIf="nextDeparture">
  <div class="d-flex h2 font-weight-normal">
    <span
      >{{ nextDeparture.routeLinks[0].line.name }}
      {{
        nextDeparture.routeLinks[0].line.towards.split(" via ").length > 1
          ? nextDeparture.routeLinks[0].line.towards.split(" via ")[0]
          : nextDeparture.routeLinks[0].line.towards
      }}</span
    >
    <span class="ml-auto" *ngIf="departureIn > 0">{{ departureIn }} min</span>
    <span class="ml-auto" *ngIf="departureIn <= 0">avgår nu</span>
  </div>
  <div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="451"
      height="32"
      viewBox="0 0 451 32"
      [style.fill]="
        nextDeparture.routeLinks[0].line.trafficType == 1
          ? '#30921C'
          : '#DBBD2C'
      "
    >
      <g transform="translate(-123 -597)">
        <rect fill="" width="435" height="12" transform="translate(123 607)" />
        <circle fill="" cx="16" cy="16" r="16" transform="translate(542 597)" />
        <circle fill="" cx="16" cy="16" r="16" transform="translate(208 597)" />
      </g>
    </svg>
  </div>
</mat-card>
<mat-card class="lower" *ngIf="laterDeparture">
  <div class="d-flex">
    <span
      >Nästa: {{ laterDeparture.routeLinks[0].line.name }}
      {{ laterDeparture.routeLinks[0].line.towards }}
    </span>
    <span class="ml-auto">{{
      laterDeparture.departureDateTime.split("T")[1]
    }}</span>
  </div>
</mat-card>
<mat-card class="lower" *ngIf="!laterDeparture">
  <div class="d-flex">
    <span><i>Kan inte visa nästa avgång</i></span>
  </div>
</mat-card>
