<mat-card class="deferred pt-2" *ngIf="departures.length > 0">
  <div class="d-flex mat-title my-0 font-weight-normal">
    <div class="flex-item d-flex align-items-center mr-3">
      <div class="d-inline-block">
        <div>{{ departures[0].name }}</div>
        <div style="font-size: 1rem; line-height: 20px; color: #bbbbbb;">
          {{ departures[0].from }}
        </div>
      </div>
    </div>
    <div class="flex-item d-flex flex-column align-items-center">
      <div
        class="d-inline-block text-center py-1 mt-2 align-middle"
        style="width: 72px; border-radius: 4px;"
        [style.background-color]="departures[0].color"
        [style.color]="departures[0].textColor"
      >
        {{ departures[0].line }}
      </div>
      <span *ngIf="departures[0].departing > 0">
        <span *ngIf="departures[0].departing <= 15">
          {{ departures[0].departing }} min
        </span>
        <span *ngIf="departures[0].departing > 15">
          {{ departures[0].departingTime }}
        </span>
      </span>
      <span class="text-uppercase" *ngIf="departures[0].departing <= 0"
        >nu</span
      >
    </div>
  </div>
</mat-card>
